{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testapp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'testapp/css/styles.css' %}">
        <script src="{% static 'testapp/js/append.js' %}"></script>
        <script src="{% static 'testapp/js/helperFunctions.js' %}"></script>
        <script src="{% static 'testapp/js/eventHandlers.js' %}"></script>
        <script src="{% static 'testapp/js/forms.js' %}"></script>
        <script src="{% static 'testapp/js/classes.js' %}"></script>
        <script src="{% static 'testapp/js/objects.js' %}"></script>
        <script src="{% static 'testapp/js/index.js' %}"></script>
    </head>
    <body>
        <div id="container_root" class="container"></div>
    </body>
</html>
