// variables
$hover-color: darkorange;

// inheritance
%button {
    padding: 0.5rem;
    border: none;
    text-align: center;
}

// animation
@keyframes grow {
    0% {
        width: 4.5rem;
    }
    50% {
        width: 4.8rem;
    }
    100% {
        width: 4.5rem;
    }
}

// styles
body {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    #nav {
        display: block;
        margin-bottom: 1rem;
    }
    
        .nav_button {
            animation-name: grow;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

    #form_name {
        height: 1.5rem;
        margin-right: 0.3rem;
    }

    #form_submit {
        @extend %button;
    }

    #form_submit:hover {
        color: $hover-color;
    }

    .list_button {
        margin: 0.2rem;
    }
    
    .pages {
        display: block;
    }

    button {
        @extend %button;
    }

    button:hover {
        color: $hover-color;
    }
}

